<div class="login-sec" fxLayout="column" fxLayout.xs="column" fxFlexFill>
  <section fxLayout='row' fxFlex='1 1 auto' fxFlexAlign="center" class='login-h'>
    <h2>Login to Enter AnyTime Library Management</h2>
  </section>
</div>
<div fxLayout="column" fxFlexFill>
    <section fxFlex='1 1 auto' fxLayout='row' fxFlexAlign="center">
        <button mat-raised-button color="warn" class="login-button" (click)='signInWithGoogle()'>
          Google Login Account
        </button>
      </section>
</div>