<app-header></app-header>
<ul fxLayoutAlign="center" fxLayout="row">
  <li class="searchField" fxFlex="40%">
    <input type="text" id="search" class="searchBox" (keyup)="onChange($event.target.value)" placeholder="search title, author name here">
  </li>
  <li>
    <mat-form-field>
      <mat-select placeholder="Select Category">
        <mat-option *ngFor="let sort of posts" [value]="sort.category" (click)="onCategorySelect(sort.category)">
          {{ sort.category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>
<div fxLayout="row" fxLayoutWrap>
  <div fxLayoutAlign="center" fxFlexFill>
    <mat-list fxFlex>
      <mat-card *ngFor="let post of (userposts | name : searchResult | filter: categoryResult)" class="cardList">
        <figure fxFlex>
          <img src="{{post.image}}" alt="">
        </figure>
        <div fxFlex="80%">
          <h4 class="card-title">
            <b>Title:</b>{{ post.title }}</h4>
          <h6 class="card-author">
            <b>Author:</b>{{post.author}}</h6>
          <p class="card-isbn">
            <b>ISBN:</b>{{post.isbn}}</p>
          <p class="card-desc">
            <b>Description:</b>{{post.description}}</p>
          <star-rating-comp [starType]="'svg'" [rating]="post.rating"></star-rating-comp>
          <p class="card-cat">
            <b>Category:</b>{{post.category}}</p>
          <section *ngFor="let u of post.user">
            <button mat-raised-button color="primary" (click)="UnFavoriteBook(post._id, user.email)"> UnFavorite </button>
          </section>
        </div>
      </mat-card>
      <mat-card *ngIf="userposts.length == 0">
        <p class="noDataFound">There is No data found</p>
      </mat-card>
    </mat-list>
  </div>
</div>